~*
*.log
*.lnk
*.key
*.pem
*.cert
*.exe
*.exe~
go-questionnaire
*.fdb
out.csv
online-responses.csv
columns.csv
setenv*.sh
setenv*.bat
!setenv_example.bat
!setenv_example.sh
*.json
*.json.attrs
!config-example.json
!logins-example.json
# exclude everything under responses - but include direct children *.json
app-bucket/responses/**
app-bucket/transferrer/**
!app-bucket/responses/*.json
app-bucket/responses/**.json.attrs
coverage.html
tmp/*
tmp*
profiles/*
# everything site specific
main_desktop_*.css
site*
site/*

# corel
Backup_of*.CDR

# updater
updater/updater
updater/updater.exe
