*.log
*.lnk
*.key
*.pem
*.cert
*.exe
*.exe~
go-questionaire
*.fdb
columns.csv
setenv*.sh
setenv*.bat
!setenv_example.bat
!setenv_example.sh
*.json
!config-example.json
!logins-example.json
!generators/*.json
coverage.html
tmp/*
tmp*
profiles/*
# everything site specific
site*
site/*
