*.log
*.lnk
*.key
*.pem
*.cert
*.exe
*.exe~
go-questionaire
*.fdb
out.csv
online-responses.csv
columns.csv
setenv*.sh
setenv*.bat
!setenv_example.bat
!setenv_example.sh
*.json
!config-example.json
!logins-example.json
!transferrer-example.json
# exclude everything under responses - but include direct children *.json
responses/**
!responses/*.json
coverage.html
tmp/*
tmp*
profiles/*
# everything site specific
main_desktop_*.css
site*
site/*
