<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="mobile-menu-without-js.css" />
</head>
<body>

        <input id="chkbx" class="chkbx" type="checkbox" />
        <label for="chkbx">&nbsp;</label>
        <ul class="navigation">
            <li class="nav-item">
                &nbsp; <!-- placeholder for the nav trigger -->
            </li>
            <li class="nav-item">
                <a href="#">Home</a>
            </li>
            <li class="nav-item">
                <a href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="#">About</a>
            </li>
        </ul>


    <div class="asite-wrap">

        <h2>Menu without JavaScript</h2>

        <a href="https://www.sitepoint.com/pure-css-off-screen-navigation-menu/" 
        >Explanation</a>
        <p>
            Lorem   sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata  est Lorem ipsum  sit amet. Lorem ipsum dolor sit amet,  sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea  sanctus est Lorem ipsum dolor sit amet.        </p>
        <p>
            Lorem ipsum  sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit . Lorem ipsum dolor sit , consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea  sanctus est Lorem ipsum dolor sit amet.        </p>
    </div>
</body>
</html>