/* slider */
/* www.w3schools.com/howto/howto_js_rangeslider.asp */


:root {
    /* background image position */
    --sliderHeight: 36px;
    --sliderHeight: 24px;
    --sliderHeight: 28px;
}

.slider-container,
.slider-legend,
xxx {

    /* border: 1px solid aqua; */
    display: inline-block;
    vertical-align: top;
    
    height: calc(var(--sliderHeight)/ 1);

    margin: 1rem 1rem;
}


.slider-container {

    width: calc( 75% - 2.2rem );
    
    border:  none;
    /* border: 1px solid gray; */
    outline: none;
    
    /* background-color: lightcyan; */
    
    /* inline-block bin-packing  */
    padding: 0;
    line-height: 100%;
    font-size:     0px;

}

.slider-legend {
    width: calc(25% - 2.2rem);
    padding-top: 0.808rem;
}



.slider-base {
    -webkit-appearance: none;
    width:  100%;
    height: calc( var(--sliderHeight)/ 1 );

    /* unset global CSS styles for input elements  */
    margin:  0;
    padding: 0;
    outline: none;
    border:  none; 

    background-color: transparent;
    background-color: lightgray;

    border-radius: 0.0rem;

    /* darkening on mouse over */
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* special focus */
.slider-base:focus {
    box-shadow:
        0 0 0 0.005em var(--clr-sec),
        0 0 0 0.150em var(--clr-pri-hov) inset;
    box-shadow: none;
}

.slider-base:hover {
    /* darkening on mouse over */
    opacity: 1;
}




/* 
    slider thumb
    following classes two and three need to be identical; 
    cannot be combined
*/

.slider-base::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.slider-base::-webkit-slider-thumb {
    /* width:  calc(100%/20.00);


    width:  calc(100%/20.00 + 8px);
    position: relative;
    left: -4px; */

    height: 100%;  /* not working in chrome */
    height: calc( var(--sliderHeight)/ 1 );


    background-color: transparent;
    border: none;
    /* border: 1px solid red; */
    border-radius: 0.0rem;
    cursor: pointer;

    /* border-right:  1px solid #222; */
    /* border-bottom: 1px solid #222; */

    background-image: url("/survey/doc/pds/slider/img/pointer.png");
    background-size: contain;
    background-size: cover;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}


.slider-base::-moz-range-thumb {
    /* width:  calc(100%/20.00);


    width:  calc(100%/20.00 + 8px);
    position: relative;
    left: -4px; */

    height: 100%;  /* not working in chrome */
    height: calc( var(--sliderHeight)/ 1 );


    background-color: transparent;
    border: none;
    /* border: 1px solid red; */
    border-radius: 0.0rem;
    cursor: pointer;

    /* border-right:  1px solid #222; */
    /* border-bottom: 1px solid #222; */

    background-image: url("/survey/doc/pds/slider/img/pointer.png");
    background-size: contain;
    background-size: cover;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}



.slider-20::-webkit-slider-thumb {
    width:  calc(100%/20.00);
    /* 
    width:  calc(100%/20.00 + 8px);
    position: relative;
    left: -4px; */
}
.slider-20::-moz-range-thumb {
    width:  calc(100%/20.00);
    /* 
    width:  calc(100%/20.00 + 8px);
    position: relative;
    left: -4px; */
}


.slider-10::-webkit-slider-thumb {
    width:  calc(100%/10.00);
    width:  calc(100%/10.00 + 18px);
    position: relative;
    left: -10px;
}
.slider-10::-moz-range-thumb {
    width:  calc(100%/10.00);
    width:  calc(100%/10.00 + 18px);
    position: relative;
    left: -10px;
}


.slider-base:focus::-webkit-slider-thumb {
    box-shadow: none;
    box-shadow:
        0 0 0.1em 0.055em var(--clr-sec),
        0 0 0.1em 0.145em var(--clr-pri-hov),
        0 0 0.1em 0.340em rgba(0,44,44,0.7) 
        ;
    box-shadow:
        0 0 0.1em 0.055em var(--clr-sec),
        0 0 0.1em 0.340em rgba(2, 134, 228, 0.12)
        ;
}

.slider-base:focus::-moz-range-thumb{
    box-shadow:
        0 0 0.1em 0.055em var(--clr-sec),
        0 0 0.1em 0.340em rgba(2, 134, 228, 0.12)
        ;
}

.slider-container input {
    font-size: initial;
}


input[name=slider01Legend],
input[name=slider02Legend],
xxx {
    width: 5.5rem;
    margin: 0;
}


div.slidertick-20 {
    display: inline-block;

    position: relative;
    top: 0.025rem;
    top: 0.35rem;
    
    left: -0.5px;

    width: 5%;
    width: calc(100%/20.00);
    /* width: calc(100%/20.39); */
    height: 0.4rem;
    margin:  0;
    padding: 0;

    border-left:  1px solid darkslategrey;
    /* border-right: 1px solid darkslategrey; */

}

div.slidertick-20 div {
    position: relative;
    left: -0.31rem;
     top: -0.505rem;
     font-size: 0.4rem;
     font-size: 0.6rem;


    font-size: 0.7rem;
    left: -0.431rem;
    top:  -0.905rem;
}

/* developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */

.slidertick-20:nth-child(1) {
    /* border-left:    1.002px solid darkslategrey; */
}

.slidertick-20:nth-child(20) {
    width: calc(100%/20.00 - 1.4%) ;
    /* border:   1.00px solid red; */
}

.slidertick-20:nth-child(21) {
    width: 1.4%;
    border-left:   none;
    border-right:   1.00px solid darkslategrey;
    /* border: 1.00px solid darkblue; */
}




div.slidertick-10 {
    display: inline-block;

    position: relative;
    top: 0.025rem;
    top: 0.35rem;
    
    left: -0.2px;

    width: 5%;
    width: calc(100%/10.00);
    width: calc(100%/10.49);
    height: 0.4rem;
    margin:  0;
    padding: 0;

    border-left:  1px solid darkslategrey;
    /* border-right: 1px solid darkslategrey; */

}

div.slidertick-10 div {
    position: relative;
    left: -0.31rem;
     top: -0.505rem;
     font-size: 0.4rem;
     font-size: 0.6rem;


    font-size: 0.7rem;
    left: -0.431rem;
    top:  -0.905rem;
}
/* developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */

.slidertick-10:nth-child(1) {
    /* border-left:    1.002px solid darkslategrey; */
}


.slidertick-10:nth-child(10) {
    width: calc(100%/10.00 - 1.4%) ;
    /* border:   1.00px solid red; */
}

.slidertick-10:nth-child(11) {
    width: 1.4%;
    border-left:   none;
    border-right:   1.00px solid darkslategrey;
    /* border: 1.00px solid darkblue; */
}


