
/*  source: 
    css-tricks.com/sliding-nightmare-understanding-range-input/

    dont confuse label and labels;
    the first   is the <label...> element;
    the second  is the class  .labels for the ticks;
    
    the ticks are created via repeating-linear-gradient;
    computations

    the tick-labels are position is computed 
         using CSS variables ("--r: 1")  and then multiplied via calc()

*/

:root {

    /*  ticks and track; similar to radio input border */
    --range-01-col1: rgb(136, 136, 136);
    /* google chrome radio focus color */
    --chrome-radio-focus: rgb(  0, 127, 255);

    --range-01-trackheight: 0.35em;
    --range-01-trackheight: 0.30em;



    /* if bigger than 1.5em => increase horizontal buffer */
    --range-01-thumbsize: 1.5em;
    --range-01-size:     14.0em;
    --range-01-tick-cx:   1.25em;


    /* --range-01-size:    28em;
    --range-01-tick-cx: calc(2.5em + 2px);
    --range-01-tick-cx: 2.655em; */


}

.range-type1-wrapper {

    /* 
        label appears *above* input[range] 
        .labels are positioned absolutely - 
            therefore below 
    */
    display: flex;
    flex-direction: column-reverse;

    /* anchor for absolute position of .labels */
    position: relative;


    width: var(--range-01-size);
    color: var(--range-01-col1);

    /* all widths and heights inside the 'module' refer to this base */
    font-size: 1em;
    line-height: 1;
}

.range-type1-wrapper [type=range] {

    /* undo questionnaire styles.css */
    max-width: unset;

    margin:  0;
    padding: 0;
    width: 100%;

    /* accommodate the range input height */
    height: 2.6em;

    /* 
        repeating-linear-gradient - 
        <linear-color-stop>
            color-stop's <color> value
            followed by one or two optional stop positions, 
            (each a <percentage> or a <length>).
    */
    background-image: repeating-linear-gradient(
        90deg,
        var(--range-01-col1) 0,
        var(--range-01-col1) 1px,
        transparent 0,
        transparent var(--range-01-tick-cx)
    );

    background-repeat: no-repeat;

    /* background-position-x: calc(0.75em - 1px) ; */
    background-position-x: calc(.5*(1.5em - 2px)) ;

    background-position-y: 1.875em ;

    /* background-size: 202px 12px; */
    /* is this even necessary? */
    /* background-size: calc(12.5em + 2px) 0.75em; */

    font: inherit;
}

.range-type1-wrapper  [type=range],
.range-type1-wrapper  [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.range-type1-wrapper  [type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width:      var(--range-01-size);
    height:     var(--range-01-trackheight);
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width:      var(--range-01-size);
    height:     var(--range-01-trackheight);
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width:      var(--range-01-size);
    height:     var(--range-01-trackheight);
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-webkit-slider-thumb {
    margin-top: -0.625em;
    box-sizing: border-box;
    border: none;
    width:  var(--range-01-thumbsize);
    height: var(--range-01-thumbsize);
    border-radius: 50%;
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width:  var(--range-01-thumbsize);
    height: var(--range-01-thumbsize);
    border-radius: 50%;
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width:  var(--range-01-thumbsize);
    height: var(--range-01-thumbsize);
    border-radius: 50%;
    background: var(--range-01-col1);
}

.range-type1-wrapper  [type=range]::-ms-tooltip {
    display: none;
}


/* label */

.range-type1-wrapper  [type=range]~label {
    /* 
        tilde - some previous sibling has was [type=range] => apply to label...  
        =>  depending on 
                range-input before  label
                label       after   range-input
    */

    /* overwrite --range-01-col1 */
    color: var(--clr-fg);
}




[type=range]~label:after {
    /* automatic appending of a colon */
    /* margin: -4px; */
    /* content: ":"; */
}





/* labels - for the ticks */


/* labels envelope */
.range-type1-wrapper  .labels {
    position: absolute;
    bottom: 0.15em;
    left:   0.75em;
}

/* labels single elements - positioning */
.range-type1-wrapper  .labels span {
    position: absolute;
    left:      calc(var(--i)* var(--range-01-tick-cx));
    /* vertically centered; font-size reduced */
    transform: translate(-50%) scale(0.9);
}

/* labels single elements - stronger selection */
.range-type1-wrapper  [type=range]~label span {
    font-weight: normal;
    color: var(--clr-fg);
}



/* focus styling */
.range-type1-wrapper  [type=range]:focus {
    outline: none;
}

.range-type1-wrapper  [type=range]:focus::-webkit-slider-thumb {
    background: var(--chrome-radio-focus);
}

.range-type1-wrapper  [type=range]:focus::-moz-range-thumb {
    background: var(--chrome-radio-focus);
}

.range-type1-wrapper  [type=range]:focus::-ms-thumb {
    background: var(--chrome-radio-focus);
}

.range-type1-wrapper  [type=range]:focus~label span {
    /* distinct color for font labels on focus */
    /* color: #95a; */
}

/* focus styling end */


