@media screen and (min-width: 1280px) and (min-height: 840px) {
   html {
      zoom: 120%
   }
}

* {
	margin: 0;
	box-sizing: border-box; /* css3 rec */
}


/*
	Body with footer sticking to the bottom
	until the body gets larger than
	the viewport;
  	https://codepen.io/cbracco/pen/zekgx
*/
body {
	position: relative;
	margin: 24px;
	padding-top:    48px; /*for header*/
	padding-bottom: 35px; /*for footer*/
	background-color:{{ .body_background_color }};

	font-family: tahoma;
	font-size:   14px;  
	line-height: 100%;

}


.header {
 	min-height:40px;
	position: fixed;
	left: 0;
	top: 0%;
	width: 100%;

	padding:10px 20px;
	background-color:#e4dfce;
}

.footer {
	min-height:35px;
 	position: fixed;
	left: 0;
	bottom: 0%;
	width: 100%;
	padding:10px 20px;
	background-color:#ededed;
}


h1, h2, h3, h4, h5, h6, h7 {
	line-height:   1.6em;
	margin-top:    1.5em;
	margin-bottom: 0.1em;
}

/* stackoverflow.com/questions/1132366/ */
h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
       h2+h2, h2+h3, h2+h4, h2+h5, h2+h6,
              h3+h3, h3+h4, h3+h5, h3+h6,
                     h4+h4, h4+h5, h4+h6,
dummy {
	margin-top: 0.1em;
}


a {
	text-decoration: none;  /* remove the underline from image links*/
}

:link    {    color: #44d; }
:visited {    color: #66d; }
:hover   {    color: #11e; }
:active  {    color: #11f; }

.bold {
	font-weight: bold;
}

pre {
	line-height:14px;
}


input, select{
	margin: 0px 0px;
    padding: 3px 0px;
    font-size: 13px;
    /*width: 120px;*/  /*prevents the size attribute from working*/
}
textarea{
	white-space:pre !important;  /*prevent inheritance of nowrap from surrounding */
}

button{
	padding: 4px 12px;
	margin: 4px 6px;
}


input:valid {
	background-color:#fff;
}


input:focus:invalid {
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);*/
	background-position: right top;
	background-repeat: no-repeat; 
	box-shadow: none; 
	background-color:#fcc;
    border: 2px dotted red;
}

.error{
	color:#622;
}


img.icon {
	width: 20px;
}

img.icon-halve {
	width: 12px;
}

div:focus {
  background: #ddd;
  outline: none;
}

::selection {
	color:white;
	background:black;
}

/* Make the placeholder lighter */
/* Most modern browsers support this now. */
::placeholder { 
    color:    #ccc;
	opacity:  1;
}

.ib {
	display:inline-block;
	vertical-align: middle;
	/* 	width:150px;  no width; leave it dynamic*/ 
	white-space:nowrap; /* forcing the div to stretch as wide as it's contents */
}

.ib-030, .ib-060, .ib-090, .ib-120, .ib-150, .ib-200, .ib-250, .ib-300 {
	display:inline-block;
	vertical-align: middle;
	white-space:nowrap; /* forcing the element to stretch as wide as it's contents */
}

.ib-030 { 	min-width:030px;  }
.ib-060 { 	min-width:060px;  }
.ib-090 { 	min-width:090px;  }
.ib-120 { 	min-width:120px;  }


input.ib-060 { 	width:060px;  }
input.ib-090 { 	width:090px;  }
input.ib-120 { 	width:120px;  }


.go-quest-vspacer {
	margin: 0;
	height: 2px;
	clear: both;
}

.go-quest-vspacer-16 {
	margin: 0;
	height: 16px;
	clear: both;
}



.hori-center-me {
	margin: 0 auto;  

	width:      70%; 
	min-width:  960px; 

	/*  padding-top:20px; => causes vert scroll bar; use body.padding to adjust  */
	padding-left:50px;  /* aethetic compensation since control do not reach the right margin */	
	padding-right:0px;	
	padding-bottom:0px;	

	border: 1px solid #aaa; 
	background-color:  #eee; 

}

.go-quest-main-form {
	/*  keep spaces between inline blocks small  
		not necessary with go-quest-cell{ float: left; }
		but then the vertical align is disrupted.
		
		Full-fledged table layout widens columns;	
	*/
	font-size:   3px;  
}


.go-quest-cell-left, 
.go-quest-cell-center, 
.go-quest-cell-right, 
.dummy {
	display: inline-block;
	white-space: nowrap; /* forcing the div to stretch as wide as it's contents */
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 100%;
	/* min-width: 200px; */
	text-align: left; 	

	/* float left disrupts the vertical alignment of the blocks  */
	/* float: left; */
	
	
	/* for debugging */
	/* border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc; */
	
	
}

.go-quest-cell-center, 
.dummy {
	text-align: center; 	
}

.go-quest-cell-right, 
.dummy {
	text-align: right; 	
}


.go-quest-label,
.dummy {
	margin: 0;
	padding: 0;
	display: inline-block;
	
	white-space: nowrap;

	font-size: 12px;
	line-height: 100%;
	padding-right: 2px; 
}


.go-quest-page-section {
	font-size: 18px;
	line-height: 20px;
	font-weight: 900;
}
.go-quest-page-header {
	font-size: 16px;
	line-height: 18px;
}
.go-quest-page-desc {
	font-size: 14px;
	line-height: 18px;
}

.go-quest-group {
	
}

.go-quest-group-header {
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	font-size: 14px !important;
}



