<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:;base64,=">
	<link rel="icon"          href="data:;base64,=">
		<title>{{.HtmlTitle}}</title>
	<link  href="{{prefix "/css/design.css"}}" rel="stylesheet" type="text/css" />
	<!-- jQuery - as it is required almost always -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	<script type="text/javascript">
		const PREFIX = "{{prefix ""}}";
		if (!window.jQuery) { 
			document.write('<script src="{{prefix "/js/jquery.min.js"}}" ><\/script>'); 
			console.log('CDN version not available: fallback to local resource.'); 
		}
	</script>
	<style>
		/* https://css-tricks.com/centering-css-complete-guide/ */
		.hori-vert-center-parent {
			position: relative;
		}
		.hori-vert-center-child {
			position: absolute;
			top:  50%;
			left: 50%;
			transform: translate(-50%, -60%);		
		}
		.hori-center-me {
			margin: 0 auto;  /*  unused */
		}	
	</style>

</head>
<body class="hori-vert-center-parent">
	<script type="text/javascript">
		$(document).ready(function() {
			console.log('body: jQuery doc.ready()');
			// $( "body" ).children().last().append( "<p>jQuery doc.ready()</p>" );
		});
	</script>



	<div class="hori-vert-center-child" style="width:80%; min-width: 800px;">

	<!-- following span is to make the body extractable by splitting it -->
	<span class='body'></span>
	<!-- the content template -->


	<form method="POST" action="{{prefix ""}}" class='go-quest-main-form' >
		<input type="hidden" name="curr_page" value="{{.Q.CurrPage}}">

	
	{{toHtml .CntBefore}}
	{{executeTemplate .TemplateName .}}
	{{toHtml .CntAfter}}


	<table style='width:100%; padding: 0; margin: 0;'>
		<tr>
			<td style='width: 33%;text-align: left;'>
				 {{if .Q.HasPrev}}
					<!--
					<a accesskey="p" href="{{prefix ""}}?curr_page={{.Q.Prev}}"> << Page {{addint .Q.Prev 1}} </a>
					-->					
					<button type="submit" name="submit"    value="prev" accesskey="p">
						<< Page {{addint .Q.Prev 1}}
					</button>
				 {{end}}
			</td>
			<td style='width: 33%;text-align: center;'>
				-{{addint .Q.CurrPage 1}}-
			</td>
			<td style='width: 33%;text-align: right;'>
				{{if .Q.HasNext}}
				<!--
				<a accesskey="n" href="{{prefix ""}}?curr_page={{.Q.Next}}"> Page {{addint .Q.Next 1}} >></a>
				-->
				<button type="submit" name="submit"    value="next" accesskey="n" >
					Page {{addint .Q.Next 1}} >>
				</button>


				{{end}}
			</td>
		</tr>
	</table>

	</form>
	
	<span class='body'></span>

	</div>	<!-- end of center me-->

	<!-- footer -->
	<div class="footer" >
		<div class='ib main-navi-block'>
		</div>
			<a href="{{prefix "/doc/" }}" >Impressum</a><br />
		</div>
	</div>
</body>
</html>