<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:;base64,=">
	<link rel="icon"          href="data:;base64,=">
		<title>{{.HtmlTitle}}</title>
	<link  href="{{prefix "/css/design.css"}}" rel="stylesheet" type="text/css" />
	<!-- jQuery - as it is required almost always -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	<script type="text/javascript">
		const PREFIX = "{{prefix ""}}";
		if (!window.jQuery) { 
			document.write('<script src="{{prefix "/js/jquery.min.js"}}" ><\/script>'); 
			console.log('CDN version not available: fallback to local resource.'); 
		}
	</script>
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			console.log('body: jQuery doc.ready()');
			// $( "body" ).children().last().append( "<p>jQuery doc.ready()</p>" );
		});
	</script>

	<!-- following span is to make the body extractable by splitting it -->
	<span class='body'></span>
	<!-- the content template -->


	<form method="POST" action="{{prefix ""}}" class='ib' style='border: 1px solid #aff;'>
		<input type="hidden" name="curr_page" value="{{.Q.CurrPage}}">

	
	{{toHtml .CntBefore}}
	{{executeTemplate .TemplateName .}}
	{{toHtml .CntAfter}}


	<table style='width:100%;'>
		<tr>
			<td style='width: 33%'>
				 {{if .Q.HasPrev}}
					<!--
					<a accesskey="p" href="{{prefix ""}}?curr_page={{.Q.Prev}}"> << Page {{addint .Q.Prev 1}} </a>
					-->					
					<button type="submit" name="submit"    value="prev" accesskey="p">
						<< Page {{addint .Q.Prev 1}}
					</button>
				 {{end}}
			</td>
			<td style='width: 33%'>
				-{{addint .Q.CurrPage 1}}-
			</td>
			<td style='width: 33%'>
				{{if .Q.HasNext}}
				<!--
				<a accesskey="n" href="{{prefix ""}}?curr_page={{.Q.Next}}"> Page {{addint .Q.Next 1}} >></a>
				-->
				<button type="submit" name="submit"    value="next" accesskey="n" >
					Page {{addint .Q.Next 1}} >>
				</button>


				{{end}}
			</td>
		</tr>
	</table>

	</form>
	
	<span class='body'></span>

	<!-- footer -->
	<div class="footer" >
		<div class='ib main-navi-block'>
		</div>
		<div class='ib main-navi-block'>
			<a href="{{prefix ""}}" accesskey="h" >Home</a>
			&nbsp; &nbsp; &nbsp; &nbsp; 
			<a href="{{prefix "/doc/" }}" >Documentation</a><br />
		</div>
	</div>
</body>
</html>