<html>
{{ $lc := (.Sess.EffectiveStr "lang_code" .DefaultLangCode)}}
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:;base64,=">
	<link rel="icon"          href="data:;base64,=">
		<title>{{.Trls.app_label.Tr $lc}}</title>
	<link  href="{{prefix "/css/design.css"}}" rel="stylesheet" type="text/css" />
	<link  href="{{prefix "/css/site.css"}}"   rel="stylesheet" type="text/css" />
	<!-- jQuery - as it is required almost always -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	<script type="text/javascript">
		const PREFIX = "{{prefix ""}}";
		if (!window.jQuery) { 
			document.write('<script src="{{prefix "/js/jquery.min.js"}}" ><\/script>'); 
			console.log('CDN version not available: fallback to local resource.'); 
		}
	</script>
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			console.log('body: jQuery doc.ready()');
			// $( "body" ).children().last().append( "<p>jQuery doc.ready()</p>" );
		});
	</script>
	
	<!-- header -->
	<div class="header">
		<a href="{{prefix "" }}" tabindex="-1">
			<div style='float: left; position: relative; left: 3%; bottom: -18px; 
			color: #0069B4; font-size: 250%;'>

				{{if exists . "Q"}}
					<span style="font-size: 70%; position: relative; bottom: -1px; left: 4px; ">
						<span style='font-size: 130%'>{{.Q.Survey.Org.TrSilent $lc}} </span> {{.Q.Survey.Name.TrSilent $lc}}
						 {{toHtml (.Q.Survey.Label) }}
					</span>
				{{else}}
					<span style='font-size: 130%'>{{.Trls.app_label_h1.Tr $lc}} </span> {{.Trls.app_label.Tr $lc}}
				{{end}}

			</div>
		</a>

	
	</div>
	

	 {{executeTemplate .TplBundle .TS.Unshift .}}
	 

	<!-- footer -->
	<div class="footer">
		{{if exists . "Q"}}
			<div style='float: left; padding-left: 40px;'>
					{{.Q.Survey.Name.TrSilent $lc}} - {{toHtml (.Q.Survey.Label) }}
			</div>
		{{end}}


		<div style='float: right; padding-right: 40px;'>
			<a href="{{prefix "/doc/site-imprint.md" }}">{{.Trls.imprint.Tr $lc}}</a>  
			&nbsp; &nbsp; &nbsp; &nbsp;
			{{toHtml (.LanguageChooser .Sess.ReqURI  $lc)}}
		</div>	
	</div>


</body>
</html>