<html>
{{ $lc := (.Sess.EffectiveStr "lang_code" .DefaultLangCode)}}
<head>

	<meta charset="utf-8">
	<!-- suppressing favicon altogether -->
	<link rel="shortcut icon" type="image/x-icon"  href="data:;base64,=">
	<link rel="icon"          type="image/x-icon"  href="data:;base64,=">
	<title>{{.Trls.app_label.Tr $lc}}</title>
	<link href="{{prefix "/css/main_desktop1.css"}}" rel="stylesheet" type="text/css" />
	<link href="{{prefix "/css/main_desktop2.css"}}" rel="stylesheet" type="text/css" />
	{{if exists . "Q"}}
		{{if ne .Q.Survey.Type ""}}
			<link href="{{prefix "/css/main_desktop_"}}{{.Q.Survey.Type}}.css" rel="stylesheet" type="text/css" />
		{{end}}
	{{end}}

	<!-- jQuery - as it is required almost always -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	<script type="text/javascript">
		const PREFIX = "{{prefix ""}}";
		if (!window.jQuery) { 
			document.write('<script src="{{prefix "/js/jquery.min.js"}}" ><\/script>'); 
			console.log('CDN version not available: fallback to local resource.'); 
		}
	</script>
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			console.log('body: jQuery doc.ready()');
			// $( "body" ).children().last().append( "<p>jQuery doc.ready()</p>" );
		});
	</script>
	
	<!-- header -->
	<div class="header">
		<a href="{{prefix "" }}" tabindex="-1">
			<div style='
			float: left; position: relative; left: 3%; bottom: -18px; 
			color: #0069B4; font-size: 250%;
			vertical-align: baseline; 
			'
		>
				{{if exists . "Q"}}  <!-- following if-condition cannot be on same line -->
					{{if  ne .Q.Survey.WaveIDPretty ""}}
						<span style="font-size: 70%; position: relative; bottom: -1px; left: 4px;">
							<span style='font-size: 130%'>{{.Q.Survey.Org.TrSilent $lc}} </span>
							<span style="position: relative; bottom: 0px;" >
								{{.Q.Survey.Name.TrSilent $lc}} 
								<span class="wave-id"> - {{toHtml (.Q.Survey.WaveIDPretty) }}</span>
						</span>
						</span>
					{{else}}
						<span style='font-size: 130%;'>{{.Trls.app_label_h1.Tr $lc}} </span> {{.Trls.app_label.Tr $lc}}
					{{end}}
				{{else}}
					<span style='font-size: 130%;'>{{.Trls.app_label_h1.Tr $lc}} </span> {{.Trls.app_label.Tr $lc}}
				{{end}}

			</div>
		</a>

	
	</div>
	

	 {{executeTemplate .TplBundle .TS.Unshift .}}
	 

	<!-- footer -->
	<div class="footer">
		{{if exists . "Q"}}
			{{if  ne .Q.Survey.WaveIDPretty ""}}
				<div style='float: left; padding-left: 40px;'>
					{{.Q.Survey.Name.TrSilent $lc}} <span class="wave-id"> - {{toHtml (.Q.Survey.WaveIDPretty) }}</span>
				</div>
			{{end}}
		{{end}}


		<div style='float: right; padding-right: 40px;'>
			<a class="imprint"  href="{{prefix "/doc/site-imprint.md" }}">{{.Trls.imprint.Tr $lc}}</a>  
			&nbsp; &nbsp; &nbsp; &nbsp;

			{{if exists . "Q"}}
				{{toHtml (.LanguageChooserExplicit .Q.LangCodesOrder .Sess.ReqURI  $lc)}}
			{{else}}
				{{toHtml (.LanguageChooser                           .Sess.ReqURI  $lc)}}
			{{end}}

		</div>	
	</div>


</body>
</html>