<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:;base64,=">
	<link rel="icon"          href="data:;base64,=">
		<title>{{.Trls.app_label.Tr .Q.LangCode}}</title>
	<link  href="{{prefix "/css/design.css"}}" rel="stylesheet" type="text/css" />
	<link  href="{{prefix "/css/site.css"}}"   rel="stylesheet" type="text/css" />
	<!-- jQuery - as it is required almost always -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	<script type="text/javascript">
		const PREFIX = "{{prefix ""}}";
		if (!window.jQuery) { 
			document.write('<script src="{{prefix "/js/jquery.min.js"}}" ><\/script>'); 
			console.log('CDN version not available: fallback to local resource.'); 
		}
	</script>
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			console.log('body: jQuery doc.ready()');
			// $( "body" ).children().last().append( "<p>jQuery doc.ready()</p>" );
		});
	</script>
	
	<!-- header -->
	<div class="header">
		<div style='float: left; position: relative; left: 3%; bottom: -18px; color: #0069B4; font-size: 300%;'>		 
				<span style='font-size: 125%'>{{.Trls.app_label_h1.Tr .Q.LangCode}} </span> {{.Trls.app_label.Tr .Q.LangCode}}
		</div>
	</div>
	

	 {{executeTemplate .TplBundle .TS.Pop .}}
	 

	<!-- footer -->
	<div class="footer">
		<div style='float: right; padding-right: 40px;'>
			<a href="{{prefix "/doc/" }}">{{.Trls.imprint.Tr .Q.LangCode}}</a>  
			&nbsp; &nbsp; &nbsp; &nbsp;
			{{toHtml (.Q.LanguageChooser)}}
		</div>	
	</div>


</body>
</html>