a.imprint, li.imprint {
	visibility: hidden;
	display: none;
}

img[src="/img/doc/site-peu2018-logos.png"]{
    width: 300px;
    margin: auto;
}

.ordinals {
	visibility: hidden;
	display: none;
}



/* prevent wrapping of suffix */
.suffix-nowrap {
    /* white-space: nowrap; */
    white-space: normal;
}

