<!DOCTYPE html>
<html>
{{ $lc := (.Sess.EffectiveStr "lang_code" .DefaultLangCode)}}
<head>

	<link rel="preconnect"   href="https://i.ebayimg.com"   />
 	<link rel="dns-prefetch" href="//i.ebayimg.com">

	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:;base64,=">
	<link rel="icon"          href="data:;base64,=">

    <meta name="viewport" content="width=device-width, initial-scale=1">


	<title>{{.Trls.app_label.Tr $lc}}</title>
	<link  href="{{prefix "/css/mobile.css"}}" rel="stylesheet" type="text/css" />
	<link  href="{{prefix "/css/mobile-menu-without-js.css"}}" rel="stylesheet" type="text/css" />

</head>
<body >

    <!-- width=100% inscribe -->
    <form method="POST" action="{{prefix ""}}" class='go-quest-main-form' name='frmMain' >


        <input id="chkbx" class="chkbx" type="checkbox" />
        <label for="chkbx">&nbsp;</label>

        {{toHtml (.Q.MenuMobile) }}


        {{if .Q.HasErrors}}
        <p class="error" id="error" style="font-size:16px;margin: 20px 0px; ">{{.Trls.correct_errors.Tr .Q.LangCode}} </p>
        <script>
            $("#error").css("display", "none");
            $("#error").fadeIn("slow", function () {
                console.log("fade in complete");
            });                    
        </script> {{end}}
        
        <input type="hidden" name="token" value="{{formToken}}" /> 
        {{toHtml (.Q.CurrentPageHTML) }}


        {{if .Q.HasNext}}
        <!-- name="submitBtn" conflicts with JS form.submit() -->
        <button type="submit" name="submitBtn" value="next" accesskey="n">
            {{.Trls.page.Tr .Q.LangCode}} {{.Q.NextNaviNum}} >>
        </button>
        {{end}} 

        &nbsp;
    
        &nbsp; 
        {{if .Q.HasPrev}}
        <!-- name="submitBtn" conflicts with JS form.submit() -->
        <button type="submit" name="submitBtn" value="prev" accesskey="p" 
            style='font-size:10px; height: 24px;
                    width: 86px; padding: 2px;
                    display: bock; margin: 0; margin-left: 2.5%;
            '>
            << {{.Trls.page.Tr .Q.LangCode}} {{.Q.PrevNaviNum}} </button>
        {{end}}










    </form>

</body>
</html>