* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:     13px;

}


body{
    margin: 0;
    padding: 0;
}

.go-quest-main-form {
    padding-left: 4px;
    padding-right: 1px;
}

.go-quest-page-section,
.go-quest-page-header,
dummy{
    font-size:  130%;
    font-weight: bold;
    margin-top: 2px;
}

.go-quest-page-header,
dummy{
    font-size:  120%;
}

.go-quest-vspacer{
    height: 2px;
}

.go-quest-label, dummy {
	font-size:     13px;
	line-height:   1.0em;
	/* white-space: nowrap; */
}


table{
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid #2cc;
	line-height:   0.9em;
	/* transform: rotate(90deg);
	transform-origin: left top 0; */
}
td:nth-child(1){
    /* width: 30% !important; */
}


td:nth-child(odd){
    background-color: #ddd;
}
td:nth-child(even){
    background-color: #d2d;
}

input {
    display:inline-block ;
}

/* www.webdesignerdepot.com/2013/03/how-to-make-your-contact-forms-mobile-friendly/
    large touch area

 */
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    appearance: none;
    margin: 0;
    height: 26px;
    font-size: 13px;
    line-height: 40px; 

    /* prefix and suffix - % or € */
    margin-left:  3px;
    margin-right: 2px;
}

input[type=checkbox], input[type=radio]  {
    width: 22px; height: 22px;
    border-radius: 1px;
    border: 1px solid #bbb;
}


button[type=submit] {
    appearance: none;
    margin: 1.5em 0;
    font-size: 1em; line-height: 2.5em;
    color: #333;
    font-weight: bold;
    height: 2.5em; width: 100%;
    
    background: #fdfdfd;    
    background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
    
    border-radius: 10px;
    border: 1px solid #bbb;
}


.input-smaller {
    padding: 0px 0px;
    font-size: 11px !important;
    width: 25em !important;
}

.mobile-wider {
    display: inline-block;
    min-width: 85px;    
}
