
<style>
    /*
        www.codingforums.com/html-and-css/142757-how-expand-divs-height-automatically-fill-up-available-space.html
    */
    .go-quest-main-form {
        display: table;
        width:  100%;
        height:  99%;  /* avoidng vertical scroll bars at 100 pct */
        border-collapse: collapse;        
        /* border: 4px solid #abb; */
    }

    #t-row-1 {
        display: table-row;
        height: 40px;  /* some small value, which is heighened by content  */
        /* border: 1px solid #caa; */
    }
    #t-row-2 {
        display: table-row;
        /* border: 1px solid #8c8; */
    }
    .table-cell-1, .table-cell-2  {
        display: table-cell;
    }
    .table-cell-2 {
        vertical-align: bottom;
        font-size: 15px;
        width: 100%;
        padding-top: 1.5em;
        padding-bottom: 20px;
        text-align: center;
        
        /* border: 1px solid  #2c8; */
    }

</style>



<!-- padding - without disturbing width=100% inscribe -->
<div class="hori-center-me">

    <!-- width=100% inscribe -->
    <form method="POST" action="{{prefix ""}}" class='go-quest-main-form' name='frmMain' >
        
        <div id="t-row-1">
            <div class='table-cell-1'>

                <!--
                    {{$lc := .Sess.EffectiveStr "lang_code"}}
                    Langcode is -{{$lc}}-
                -->

                {{if .Q.HasErrors}}
                    <p class="error" id="error" style="font-size:16px;margin: 20px 0px; ">{{.Trls.correct_errors.Tr .Q.LangCode}}  </p>
                    <script>
                        $("#error").css("display","none");           
                        $("#error").fadeIn("slow", function () {
                            console.log("fade in complete");
                        });                    
                    </script>
                {{end}}
                
                <input type="hidden" name="token" value="{{formToken}}" />

                {{toHtml (.Q.CurrentPageHTML) }}


            </div><!-- /table-cell-1 --> 
        </div><!-- /t-row-1 --> 

        
        <div id="t-row-2">
            <div class='table-cell-2' >

                <div style="
                    display: inline-block; 
                    width: 75%;
                ">
                    {{toHtml (.Q.ProgressBar) }}
                </div>


                <div style="float: right; min-width:90px;">
                    {{if .Q.HasNext}}
                    <!-- name="submitBtn" conflicts with JS form.submit() -->
                    <button type="submit" name="submitBtn" value="next" accesskey="n">
                        {{.Trls.page.Tr .Q.LangCode}} {{addint .Q.Next 1}} >>
                    </button>
                    {{end}}
                    &nbsp;
                </div>
            
                <!-- the previous button is moved behind the next button -->
                <div style="float: left; min-width:90px;">
                     &nbsp;
                    {{if .Q.HasPrev}}
                        <!-- name="submitBtn" conflicts with JS form.submit() -->
                        <button type="submit" name="submitBtn" value="prev" accesskey="p" style='
                                            font-size:11px; 
                                            height: 25px;
                                            width: 86px;
                                            padding: 2px;
                                            '>
                            << {{.Trls.page.Tr .Q.LangCode}} {{addint .Q.Prev 1}} 
                        </button>
                    {{end}}
                </div>
                


            </div><!-- /table-cell-2 -->
        </div><!-- /t-row-2 -->



    </form>

    
</div><!-- end of hori-center me-->




