<!DOCTYPE html>
<html lang="en">
{{ $lc := (.Sess.EffectiveStr "lang_code" .MoreFuncs.DefaultLangCode)}}
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- suppressing favicon altogether -->
	<link rel="icon"          href="data:;base64,="                      type="image/x-icon" />    
	<link rel="icon"          href="{{cfg.Pref "/img/ui/favicon.ico" }}" type="image/x-icon" />
	<!-- {{.Req.URL.Path}}-->
	<title>{{.MoreFuncs.Trls.app_label.Tr $lc}}</title>



	<!-- chrome on android: header color; first value sticks  -->
	<meta name="theme-color"  content="{{  (.CSSSite.ByKey "sec-drk2" ).RGBA	}}" />

	<script>

	// non essentiell JS helpers
	function keyControls(e) {

		// [enter] key opens  2nd level menu, just as space bar does
		if (e.key === "Enter") {
			var menuCheckbox = document.getElementById("mnu-1st-lvl-toggler");
			var isFocused = (document.activeElement === menuCheckbox);
			if (isFocused) {
				menuCheckbox.checked = true;
				console.log("key listener ENTER fired");
			}
		}

		// [esc]   key closes 2nd level menu, if its expanded
		if (e.key === "Escape") {
			document.getElementById("mnu-1st-lvl-toggler").checked = false;


			// ExcelDB: hide all control-menu-2 
			// var mnu2s = document.getElementsByClassName("control-menu-2");
			// for (var i = 0; i < mnu2s.length; i++) {
			// 	mnu2s[i].style.display = 'none';
			// }
			// console.log("key listener ESC fired");
		}

		// [enter] on inputs transformed into focus next input.
		// Sending events to inputs is security forbidden.
		// We find the next element and focus() it.
		//
		// TEXTAREA: SHIFT+ENTER mode is impossible on mobile - 
		// thus we cannot inlude TEXTAREA into the func	 
		// 
		//	optionally restrict to certain user agens: && /Android/.test(navigator.userAgent)
		if (e.key === "Enter") {

			var isShift = !!e.shiftKey; // convert to boolean
			if (isShift) {
				console.log("let SHIFT ENTER pass");
				return;
			}

			var el = document.activeElement;
			if (el.tagName == "INPUT" || el.tagName == "SELECT") {

				e.preventDefault();
				var nextEl = null;


				if (false) {
					// first method for finding next element:
					// adding succinct tab indize
					// then taking current tab index and incrementing it
					var elements = el.form.elements;
					var cntr = 1;
					for (var i = 0, element; element = elements[i++];) {
						if (element.type !== "hidden" && element.type !== "fieldset") {
							element.tabIndex = cntr;
							cntr++;
							// console.log("tab index", element.name, " to ", i);
						} else {
							// console.log("SKIPPING tab index ", element.name, " - ", i);
						}
					}
					var nextTabIndex = el.tabIndex + 1;
					nextEl = el.form.elements[nextTabIndex];
					if (nextEl && nextEl.focus) nextEl.focus();
				}


				// second method: simply follow the form elements order
				var found = false;
				if (el.form) {
					for (var i = 0, element; element = el.form.elements[i++];) {
						if (element.type !== "hidden" && element.type !== "fieldset" ) {
							if (found) {
								nextEl = element;
								console.log("found next	element", element.name, " at ", i);
								break;
							}
							if (el === element) {
								console.log("found current element", element.name, " at ", i);
								found = true;
							}
							// console.log("iterating form elements", element.name, " to ", i);
						} else {
							// console.log("iterating form elements - skipping ", element.name, " - ", i);
						}
					}
				}
				if (nextEl && nextEl.focus) nextEl.focus();


				if (nextEl) {
					// console.log("key listener ENTER - transformed into TAB:", el.tagName, el.name, nextEl.tagName, nextEl.name );
				} else {
					// console.log("key listener ENTER - transformed into TAB:", el.tagName, el.name, " next element not found" );
				}

			} else {
				// console.log("key listener ENTER on tagname:", el.tagName, el.name );
			}
		}

	}

	// click outside menu closes it
	function outsideMenu(event) {
		var elNav = document.getElementsByTagName('nav');
		var nav = elNav[0];
		// event.preventDefault();
		if (!nav.contains(event.target)) {
			// console.log('click outside menu');
			document.getElementById("mnu-1st-lvl-toggler").checked = false;
		}
	}

	// click on nde-2nd-lvl pulls up mnu-3rd-lvl
	//
	// we would love to change li.nde-2nd-lvl::before
	// into an upward arrow too, but pseudo elements 
	// cannot be selected / styled via javascript
	var closeLevel3 = function () {
		for (let i = 0; i < this.children.length; i++) {
			if (this.children[i].tagName == "UL") {
				var el = this.children[i];
				var style = window.getComputedStyle(el);
				if (style.opacity < 0.5) {
					el.classList.remove("mnu-3rd-lvl-pull-up");  // remove means *show* ;this is the show / init branch - opacity 0 and growing
				} else {
					el.classList.add("mnu-3rd-lvl-pull-up");	 // add	means *hide*
				}
				break;
			}
		}
	};



	window.onload = function () {
		document.addEventListener("keydown", keyControls, false);
		console.log("global key listener registered");
		
		var html = document.body.parentNode;
		html.addEventListener("touchstart", outsideMenu, false);
		html.addEventListener('click', outsideMenu, false);		
		console.log("outsideMenu registered");

		// put focus on first visible input
		// TODO: first input after p.error-block
		var elements = document.forms.frmMain.elements;
		for (var i = 0, element; element = elements[i++];) {
			if (element.type !== "hidden"){
				element.focus();
				console.log("focus on form main input number", i, element.name);
				break;
			}
		}

		var nodesLvl2 = document.getElementsByClassName("nde-2nd-lvl");
		for (var i = 0; i < nodesLvl2.length; i++) {
			nodesLvl2[i].addEventListener('click', closeLevel3, false);
		}		

	};

	const PREFIX = "{{ cfg.Pref "" }}";


	</script>


	<style>
	/*
		static CSS files
		dynamic template files
		CSS variation goes here
	*/
	:root {
		{{ cfg.CSSVarsSite.pat.HTML }}

		<!-- cfg.CSSVars.HTML  -->
		<!-- .CSSSite.HTML  -->
		<!-- cfg.CSSVarsSite.taxkit.HTML  -->
		<!-- cfg.CSSVarsSite.eta.HTML  -->
	}
	</style>
	<!-- after CSS variables -->
	{{  $cssPath := cfg.AppMnemonic }}
	<!-- 
		concatenating the CSS path
		cfg.AppMnemonic is -{{  $cssPath }}- 
		CSS path is {{  print  "/css/" $cssPath "/styles.css" }}	
		<link href="{{cfg.Pref  (print  "/css/" $cssPath "/styles.css") }}?v={{cfg.AppInstanceID}}01"  rel="stylesheet" type="text/css" />
	-->

	<link href="{{cfg.Pref  (print  "/css/" .Q.Survey.Type "/styles.css") }}?v={{cfg.AppInstanceID}}01"  rel="stylesheet" type="text/css" />

	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
	<!-- <link rel="stylesheet" href="styles/debug.css"> -->

	{{if exists . "Q"}}
		{{if ne .Q.Survey.Type ""}}
			<link href="{{cfg.Pref  "/css/"}}/{{.Q.Survey.Type}}/main-desktop-{{.Q.Survey.Type}}.css" rel="stylesheet" type="text/css" />
		{{end}}
	{{end}}

</head>
<body>
<!-- conditional comment - works up to IE9  -->
<!--[if IE ]>
	<div style="margin: 0;background-color:rgba(207, 136, 135, .999)">
		<p style='padding: 0.5em 4em; font-size: 300%; '>
			<i>Please</i> use a secure browser
		</p>
	</div>
<![endif]-->
<!-- conditional comment - IE10 and IE11 - switched on via media query in CSS -->
<div class="ie-warning"  style="margin: 0;background-color:rgba(207, 136, 135, .999)">
	<p style='padding: 0.5em 4em; font-size: 300%; '>
		<i>Please</i> use a secure browser
	</p>
</div>

{{ template "nav-css-2020.html" . }}

<!--	 
	<p>{{ index (   byKey "main"		 ).Urls  0  }}</p>
	<p>{{ index (   byKey "main"		 ).Urls  1  }}</p>
	<p>{{		urlByKey "main"			}}</p>
	{ nav .Req }
-->


<div class="content">
	<form name="frmMain" action="{{.FormMainAction}}" method="{{.FormMainMethod}}"
		style="display: none;"
	>
		form main
    </form>

	<!-- following span is to make the body extractable by splitting it -->
	<span class='body'></span>
	{{ .Content }}
	{{if not .Content}}
		<p>Warning: Key '.Content' not set</p>
	{{end}}
	<span class='body'></span>

</div><!-- /content -->


</body>
</html>