<!DOCTYPE html>
<html lang="de">
<head>
	<!-- 
			lang="..-DE" makes firefox use _comma_ to display 1.2 in number input
			chrome uses the german operating system locale => uses comma anyway.
			Important for PDS survey, which is in English, but  
			stackoverflow.com/questions/26890209/

			<html lang="en-DE">

	 -->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- suppressing favicon altogether -->
	<link rel="icon"          href="data:;base64,="                      type="image/x-icon" />    
	<link rel="icon"          href="{{cfg.Pref "/img/ui/favicon.ico" }}" type="image/x-icon" />
	<!-- {{.Req.URL.Path}}-->
	<title>{{.HTMLTitle}}</title>

	<!-- chrome on android: header color; first value sticks  -->
	<meta name="theme-color"  content="{{  (.CSSSite.ByKey "sec" ).RGBA	}}" />


	<script src="{{cfg.Pref "/js/menu-and-form-control-keys.js" }}?v={{cfg.AppInstanceID}}"></script>
	<script src="{{cfg.Pref "/js/validation.js"                 }}?v={{cfg.AppInstanceID}}"></script>
	<style>
	/*
		{{ .Site     }} <br>
		{{ .LangCode }} <br>

		{{ cfg.MpSite.default }}  <br>
		{{ cfg.MpSite.default.img_logo_icon }} <br>
		{{ cfg.MpSite.pat }} <br>

		language strings <br>
		{{ cfg.Tr         .LangCode  "app_org"    }} <br>
		{{ cfg.Tr         .LangCode  "app_label"  }} <br>

		site and language strings <br>
		{{ cfg.Val .Site "en"      "app_label"}}            <br>
		{{ cfg.Val .Site "default" "img_logo_icon"}}        <br>
		{{ cfg.Val .Site "default" "img_logo_icon_mobile"}} <br>


	*/

	/* CSS variables - then CSS files */
	:root {
		{{ .CSSSite.HTML }}	
	}
	</style>
	<!-- after CSS variables -->
	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/styles.css")          }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />
	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/progress-bar-2.css")  }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />
	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/styles-mobile.css")   }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />

    <!--	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/range-1.css")   }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />  -->
    <!--	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/range-2.css")   }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />  -->
	<link href="{{cfg.Pref  (print  "/css/" .SiteCore "/range-3.css")   }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" />

	<!-- <link href="{{cfg.Pref  (print  "/css/" .SiteCore "/styles-quest.css")    }}?v={{cfg.AppInstanceID}}"  rel="stylesheet" type="text/css" /> -->


	{{if exists . "Q"}}
		<link href="{{cfg.Pref  "/css/"}}/{{.SiteCore}}/styles-quest-{{.SiteCore}}.css?v={{cfg.AppInstanceID}}" rel="stylesheet" type="text/css" />
	{{end}}
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
	<!-- <link rel="stylesheet" href="styles/debug.css"> -->

</head>
<body>
<!-- conditional comment - works up to IE9  -->
<!--[if IE ]>
	<div style="margin: 0;background-color:rgba(207, 136, 135, .999)">
		<p style='padding: 0.5em 4em; font-size: 300%; '>
			<i>Please</i> use a secure browser
		</p>
	</div>
<![endif]-->
<!-- conditional comment - IE10 and IE11 - switched on via media query in CSS -->
<div class="ie-warning"  style="margin: 0;background-color:rgba(207, 136, 135, .999)">
	<p style='padding: 0.5em 4em; font-size: 300%; '>
		<i>Please</i> use a secure browser
	</p>
</div>

{{ template "nav-css-2020.html" . }}

<!--	 
	<p>{{ index (   byKey "main"		 ).Urls  0  }}</p>
	<p>{{ index (   byKey "main"		 ).Urls  1  }}</p>
	<p>{{		urlByKey "main"			}}</p>
	{ nav .Req }
-->


<span class='content-separator'></span> <!-- split out content - outside because div.content is CSS grid -->
<!-- content equals frmMain -->
<form class="content cpg{{.CurrPage}}" name="frmMain" method="POST" action="{{cfg.Pref ""}}" >

	{{if exists . "Q"}}
		{{if ne (.Req.Form.Get "show-version") ""}}
			winword datei : -R{{addInt .Q.Version 1}}_....docx-
		{{end}}
	{{end}}



	{{if not .Content}}
		<p>Warning: Key '.Content' not set</p>
	{{end}}
	{{ .Content }}

</form><!-- /content -->
<span class='content-separator'></span> <!-- split out content - outside because div.content is CSS grid -->

</body>
</html>