
	{{ $lc := (.Sess.EffectiveStr "lang_code" .MoreFuncs.DefaultLangCode)}}
	
	<!-- header -->
	<div class="header">
		<a href="{{cfg.Pref "" }}" tabindex="-1">
			<div style='
			float: left; position: relative; left: 3%; bottom: -18px; 
			color: #0069B4; font-size: 250%;
			vertical-align: baseline; 
			'
		>
				{{if exists . "Q"}}  <!-- following if-condition cannot be on same line -->
					{{if  ne .Q.Survey.WaveIDPretty ""}}
						<span style="font-size: 70%; position: relative; bottom: -1px; left: 4px;">
							<span style='font-size: 130%'>{{.Q.Survey.Org.TrSilent $lc}} </span>
							<span style="position: relative; bottom: 0px;" >
								{{.Q.Survey.Name.TrSilent $lc}} 
								<span class="wave-id"> - {{toHTML (.Q.Survey.WaveIDPretty) }}</span>
						</span>
						</span>
					{{else}}
						<span style='font-size: 130%;'>{{.MoreFuncs.Trls.app_label_h1.Tr $lc}} </span> {{.MoreFuncs.Trls.app_label.Tr $lc}}
					{{end}}
				{{else}}
					<span style='font-size: 130%;'>{{.MoreFuncs.Trls.app_label_h1.Tr $lc}} </span> {{.MoreFuncs.Trls.app_label.Tr $lc}}
				{{end}}

			</div>
		</a>

	
	</div>
	

	{{if ne .Content ""}}
		{{.Content}}
	{{else}}
		{{toHTML .Q.CurrentPageHTML}}
	{{end}}
	 

	<!-- footer -->
	<div class="footer">
		{{if exists . "Q"}}
			{{if  ne .Q.Survey.WaveIDPretty ""}}
				<div style='float: left; padding-left: 40px;'>
					{{.Q.Survey.Name.TrSilent $lc}} <span class="wave-id"> - {{toHTML (.Q.Survey.WaveIDPretty) }}</span>
				</div>
			{{end}}
		{{end}}


		<div style='float: right; padding-right: 40px;'>
			<a class="imprint"  href="{{cfg.Pref "/doc/site-imprint.md" }}">{{.MoreFuncs.Trls.imprint.Tr $lc}}</a>  
			&nbsp; &nbsp; &nbsp; &nbsp;

			{{if exists . "Q"}}
				{{toHTML (.MoreFuncs.LanguageChooserExplicit .Q.LangCodesOrder .Sess.ReqURI  $lc)}}
			{{else}}
				{{toHTML (.MoreFuncs.LanguageChooser                           .Sess.ReqURI  $lc)}}
			{{end}}

		</div>	
	</div>

