/* disable link in header */
.header a{
  pointer-events: none;
  cursor: default;
  opacity: 0.9;
}

span.wave-id {
	visibility: hidden;
}

button[value="prev"] {
    visibility: hidden;    
}

a.imprint {
	visibility: hidden;
	display: none;
}

/* disable link in menu  */
ul.navigation li{
  pointer-events: none;
  cursor: default;
}

li.imprint {
	visibility: hidden;
	display: none;
}




.go-quest-label {
    line-height: 1.3em;
}
.go-quest-opt-label {
    line-height: 1.15em;
}


