* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:     13px;
}

* {
	margin: 0;
	box-sizing: border-box; /* css3 rec */
}


/* 
    prevent Safari to auto-increase font size
    stackoverflow.com/questions/3226001 
*/
body{
    -webkit-text-size-adjust: none;
}

body{
    margin: 0;
    padding: 0;
    position: relative; /* for menu-wo-js */
    /* background-color: yellowgreen */
}


.error{
	color:#622;
	/* line-height:1.1em; */
    max-width: 620px;
    font-weight: bold;
	white-space: pre-line;
}



form[name=frmMain] {
    padding-left: 4px;
    padding-right: 1px;
}

.go-quest-label {
    display: inline-block;  /* activate line-height*/
	font-size:     13px;
	line-height:   14px;
    /* white-space: nowrap; */
}

/* 
    We want to prevent line-break of the '%' or '€' suffix character.
    inputs must be inline-block, for whitespace nowrap to work.
    At the same time: suffix-inner enables wrapping for the suffix itself
*/
.suffix-nowrap {
    white-space: nowrap;
}

.suffix-inner {
    white-space: normal !important;  /* overriding outer element setting */
    display: inline-block;
    width: 75%;
}


.go-quest-group-header{
    display: inline-block;  /* activate line-height*/
	line-height: 14px;    
}


.go-quest-page-section,
.go-quest-page-header {
    display: inline-block;  /* activate line-height*/
    font-size:  130%;
    font-weight: bold;
    margin-top: 2px;

    width: 89%;  /* float right of the menu button */
}

.go-quest-page-desc{
}


.go-quest-page-header {
    font-size:  120%;
}

.vspacer-00{
    height: 2px;
}
.vspacer-08{
    height: 4px;
}
.vspacer-16{
    height: 8px;
}


table.main-table{
	/* table-layout: fixed; */  /* prevents accommodating cell with to contents */
	border-collapse: collapse; 
	/* margin: 0 auto; */	
	/* border: 1px solid #eaeaea;  */
}

table.alternate-row-color{
	background-color:  #eaeaea; 
}
.main-table +  .main-table {
    /* margin-bottom: 3px; */
    border-top: 2px solid #ddd;
    border-top: 2px solid #fff;
}


table.bordered {
	/* border: 1px solid #eaeaea;  */
}
table.bordered td{
	/* border: 2px solid #eaeaea;   */
}


table.main-table td{
	margin: 0;
	/* padding: 1px;
	padding-bottom: 2px; */
	line-height:   0.9em;

    vertical-align: middle;
    /* vertical-align: bottom; */

    /* border: 1px solid #eaeaea;  */
}

/* this does not work, since every row is rendered as separate table  */
table.main-table tr:nth-child(odd){
}


td:nth-child(odd){
    /* background-color: #ddd; */
}
td:nth-child(even){
    /* background-color: #d2d; */
}

input, select {
    display:inline-block ;
}

/* www.webdesignerdepot.com/2013/03/how-to-make-your-contact-forms-mobile-friendly/
    large touch area

 */
input[type=text], input[type=number], input[type=url], input[type=email], 
select
{
    appearance: none;
    margin: 0;
    /* 
      No height limit
       height: 26px;
       line-height: 40px;  
    */
    font-size: 13px;

    /* prefix and suffix - % or € */
    margin-left:  3px;
    margin-right: 2px;

    border-radius: 4px;
  
}

textarea{
    border-radius: 4px;
	white-space:pre !important;  /*prevent inheritance of nowrap from surrounding */
}


input[type=checkbox], input[type=radio]  {
    width: 22px; height: 22px;
    /* border-radius: 1px; */
    border: 1px solid #bbb;
}


button[type=submit] {
    appearance: none;

    font-size: 1em; 
    color: #fff;
    height: 3.0em; 
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
 
    background-color: #0069B4;
    border: 1px solid #0069B4;
    background: linear-gradient(to bottom ,#4883ad 0%,#0069B4 100%);
    
    border-radius: 6px;
}


/* Hide HTML5 Up and Down arrows. */
/* www.thatstevensguy.com/programming/disable-arrows-on-number-inputs/ */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


/* Ultra slim - old android devices */
@media screen and (max-width: 410px)  {

    .error{
        max-width: 400px;
    }

    input[type=checkbox], input[type=radio]  {
        width: 18px; height: 18px;
    }

    .go-quest-page-section,
    .go-quest-page-header {
        width: 80%;  /* float right of the menu button */
    }
    .go-quest-label {
        display: inline-block;  /* activate line-height*/
        font-size: 13px;
        line-height: 12px;
    }


}


/* for radio inputs, adjust the label top position */
.vert-correct-center {
	top: -3px;
	position: relative;
	margin-top:    0px;  
    margin-bottom: 0px;
    line-height: 110%;
}
.vert-correct-left-right {
	top: 1px;
	position: relative;
	margin-top:    0px;  
	margin-bottom: 0px;
}


.special-input-left-padding {
	padding-left: 20px;
}


/* increase line height for textblocks */
.special-line-height-higher {
	line-height: 120%;
}

/* vertical margins between rows */
.special-input-margin-vertical {
	margin-top:    12px;
	margin-bottom: 12px;
}


.special-input-textblock-smaller {
	font-size: 65%;
	padding-top:    2px;
	padding-bottom: 12px;
	display: inline-block;
}

.special-submit-big {
	padding: 10px 64px;
}


.special-min-width-85 {
    display: inline-block;
    min-width: 85px;    
}

/* crutch to get vertical centering of control label  */
.vertical-align-top-two-rows {
	vertical-align: top;
	padding-bottom: 16px;
}

.special-vertical-align-top {
    vertical-align: top;
}

/*
 mobile-input-smaller {
    padding: 0px 0px;
    font-size: 11px !important;
    width: 22em     !important;
} 

*/

