
	


	{{if ne .Content ""}}
		{{.Content}}
	{{else}}
		{{toHTML .Q.CurrentPageHTML}}
	{{end}}
	 

	<!-- footer -->
	{{ $lc := (.Sess.EffectiveStr "lang_code" .MoreFuncs.DefaultLangCode)}}
	<div class="footer">
		<div style='float: right; padding-right: 40px;'>
			<a class="imprint"  href="{{cfg.Pref "/doc/site-imprint.md" }}">{{.MoreFuncs.Trls.imprint.Tr $lc}}</a>  
			&nbsp; &nbsp; &nbsp; &nbsp;

			{{if exists . "Q"}}
				{{toHTML (.MoreFuncs.LanguageChooserExplicit .Q.LangCodesOrder .Sess.ReqURI  $lc)}}
			{{else}}
				{{toHTML (.MoreFuncs.LanguageChooser                           .Sess.ReqURI  $lc)}}
			{{end}}

		</div>	
	</div>

