<!-- 
                <div class="uni-logos">
                    <img src="/survey/img/pat/uni-mannheim-wide.png"  style="width:320px;"  alt=""  >
                    <img src="/survey/img/pat/uni-koeln.png"          style="width:180px;"  alt=""  >
                    <img src="/survey/img/pat/uni-muenster.png"       style="width:320px;"  alt=""  >
                    <img src="/survey/img/pat/uni-zurich.png"         style="width:280px;"  alt=""  >
                </div>
-->
 
 <style>

    #t-row-1 {
        display: flex; 

        width: 95%;
        margin: 0 auto;
        margin-bottom: 1rem;

        border: 1px solid #228;
    }

    #t-row-b2 {
        display: flex; 
        min-height: 40px;  
        border-top: 1.4rem solid transparent;
        xx-border: 2px solid #caa;
    }

    #t-row-b3 {
        display:         inline-flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-around;
        justify-content: space-between;

        align-items: center;     /* cross axis */
        align-items: flex-start; /* cross axis */
        

        width: 95%;
        margin: 0 auto;
        margin-top: 1rem;

        xx-border: 2px solid #8c8;


    }


</style>


{{if .Q.CurrPageInNavigation}}
    {{toHTML (.Q.ProgressBar) }}
{{end}}




<div id="t-row-b2">

        <!--
            {{$lc := .Sess.EffectiveStr "lang_code"}}
            Langcode is -{{$lc}}-
        -->

        {{if .Q.HasErrors}}
            <p class="error" id="error" style="font-size:16px;margin: 20px 0px; ">{{.MoreFuncs.Trls.correct_errors.Tr .Q.LangCode}}  </p>
            <script>
                $("#error").css("display","none");           
                $("#error").fadeIn("slow", function () {
                    console.log("fade in complete");
                });                    
            </script>
        {{end}}
        
        <input type="hidden" name="token" value="{{formToken}}" />
        {{toHTML (.Q.CurrentPageHTML) }}


</div><!-- /t-row-b2 --> 









{{if .Q.CurrPageInNavigation}}

<div id="t-row-b3">

        <!-- display order reversed for tabbing -->

        <div style="order: 2;">
            {{if .Q.HasNext}}
            <!-- name="submit" conflicts with JS form.submit() -->
            <button type="submit" name="submitBtn" value="next" accesskey="n">
                {{.MoreFuncs.Trls.page.Tr .Q.LangCode}} {{.Q.NextNaviNum}} >>
            </button>
            {{end}}
        </div>

        <div style="order: 1;">
            {{if .Q.HasPrev}}
            <!-- name="submit" conflicts with JS form.submit() -->
            <button type="submit" name="submitBtn" value="prev" accesskey="p" style='
                                    font-size:75%; 
                                    height: 25px;
                                    width:  86px;
                                    '>
                << {{.MoreFuncs.Trls.page.Tr .Q.LangCode}} {{.Q.PrevNaviNum}} </button>
            {{end}}
        </div>



</div><!-- /t-row-b3 -->
{{end}}