.survey-wave-id {
    display: none;
}
.survey-org {
    display: none;
}

nav .logo {
    display: none !important; 
}

ol.progress {
    display: none;
}


/* no back button */
button[value=prev] {
    display: none;
}


/* 
    animation of the three conditional questions
    blog.hubspot.com/website/css-fade-in 
*/
.fade-in-image { 
    animation:       animFadeIn 2s; 
    /* animation-delay: 0.4s;  */
}

@keyframes animFadeIn {
      0% { opacity: 0; }
    100% { opacity: 1; }
}
  

/* error bubble popup default */
.popup-invalid-content-grid-item {
    bottom:  0.09rem;
}


@media screen and (max-width: 800px) {
    .popup-invalid-content-grid-item {
        min-width: unset;
    }
}

/* treatment neutral is pg25 */
.pg27-grp00-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.49rem;
}
.pg27-grp01-inp01 .popup-invalid-content-grid-item {
    bottom:  0.49rem;
}
.pg27-grp02      .popup-invalid-content-grid-item {
    bottom:  -1.68rem;
}




.pg28-grp00-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.48rem;
}
.pg28-grp01-inp01 .popup-invalid-content-grid-item {
    bottom:  0.9rem;
}
.pg28-grp02-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.39rem;
}




/* button next of guided tour - used in knebGuidedTourImg.js */
@keyframes guidedTourNextButtonFadeIn {
    0% { opacity: 0; }
   80% { opacity: 0; }
  100% { opacity: 1; }
}


/* guided tour show image for mobile or desktop */
.img-guided-tour-desktop {
    display: block;
}
.img-guided-tour-mobile {
    display: none;
}
@media screen and (max-width: 800px) {
    .img-guided-tour-desktop {
        display: none;
    }
    .img-guided-tour-mobile {
        display: block;
    }
}
