label, .postlabel {
    text-align: left;
}

nav {
    grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
}

nav a.logo {
    position: relative;
    top: -0.15rem;
}


nav a.title {
    font-size: 130%;
}
nav a.title span.survey-wave-id {
    display: inline-block;
    font-size: 110%;
}

/* hide the first progress bar */
ol.progress-line{
    /* display: none; */
    /* show a small bevel instead: */
    height: 0.2rem
}
div.progress-line-bar{
    display: none;
}

@media screen and (max-width: 800px) {
    nav {
        grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
    }

    ul.mnu-2nd-lvl {
        top: 6.2vh;
    }

    nav a.logo {
        justify-self: center;
        justify-self: start;
        padding-left: 0.7rem;
        padding-left: 0.3rem;

        position: relative;
        top: -0.15rem;
    }
    nav a.title {
        font-size: 95%;
    }
    nav a.title span.survey-wave-id {
        display: inline-block;
        font-size: 95%;
    }
}

.mobile-brkr {
    display: none;
}




#ssq5_free,
dummy {
    max-width: 60ch;
    margin-left: -1.2rem;
}



/* 2026-03 climate */
/*
#ssq1_free,
dummy {
    max-width: 60ch;
    margin-left: -6rem;
}


.ordinal-numbers {
    font-size: 120%;
}


.pg06-grp01,
dummy  {
    margin-bottom: 0.4rem ;
}

.pg07-grp01,
.pg07-grp14,
.pg08-grp01,
dummy  {
    margin-top:    0.5rem ;
    margin-bottom: 0.2rem ;
}
.pg07-grp01 .grid-item-lvl-2 ,
.pg07-grp14 .grid-item-lvl-2 ,
.pg08-grp01 .grid-item-lvl-2 ,
dummy  {
    font-size:     90% ;
    line-height:  115% ;
}


#ssq8a, #ssq9a,
#ssq8b, #ssq9b,
dummy
{
    background-image: none;
}
*/


/* kursive, italic */
i {
    /* font-size: 110%; */
    letter-spacing: 0.020em;    /* Adjust as needed: 0.02em–0.08em is typical */    
    word-spacing:   0.06em;       

    padding-left:  0.2em;
    padding-right: 0.2em;    
}


/* 
    =========================================
    mobile changes at the end - also specials 
    =========================================
*/


/* second month of quarter - inflation  */
@media screen and (max-width: 800px) {
    .pg06-grp01 {
        overflow-x: scroll;
    }
    .mobile-brkr {
        display: inline-block;
    }
}


/* first month of quarter - inflation  */
@media screen and (max-width: 800px) {

    /* Month 1 of quarter */
    #rev_free_label {
        max-width: 5rem;
    }

    /* Month 3 of quarter */
    #chg_euro_stocks__other_label,
    #chg_euro_bonds_govt__other_label,
    #chg_euro_bonds_corp__other_label,
    #chg_euro_re__other_label,
    dummy
    {
        max-width: 5rem;
    }


 

 

}