.survey-wave-id {
    display: none;
}

/* 'focus rectangle' for radios and checkboxes  */
input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow:
        0 0 0 0.060em var(--clr-sec-lgt2),
        0 0 0 0.110em rgb(215, 237, 165);
}


#loginlogout {
    display: none;
}

ol.progress {
    margin-bottom: 1.5rem;
}

.progress>li{
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), var(--clr-sec-drk1));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), rgb(125, 155, 122));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), rgb(145, 195, 132));
}

.progress>li.is-active:before {
    color: #cfc;
    background: #4b4;
}


/* future */
                .progress-bar-label{
    color: rgb(85, 105, 81);}
li.is-complete  .progress-bar-label{
    color: rgb(190, 201, 188);
}
li.is-active    .progress-bar-label{
    color: rgb(60, 129, 44);
}

a:link {
    color: var(--clr-pri-vis);
}


nav {
    grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
    background-color: #4b4;
    background-color: rgb(66, 144, 66);
    opacity: 0.8;
}
@media screen and (max-width: 800px){
    nav {
        grid-template-columns: 0.5fr 4fr 3.0em [col-menu] 2em 0.15fr;
    }
}


.content {
    background-image: url(https://localhost:8083/survey/img/ui/biii-bg-mirrored.jpg), url(https://localhost:8083/survey/img/ui/biii-bg.jpg);
    background-repeat: no-repeat;

    background-size: cover,    cover;
    background-size: contain , contain;
    background-size: 16%, 18%;

    background-position:   bottom left, bottom right;
 
    background-position-y: bottom, bottom;
    background-position-y: -34%, -15%;
    background-position-y: -11rem, -15.0rem;
 
    background-position-x: left, right;
    background-position-x: left, 103%;

    background-repeat: repeat-y;
}

@media screen and (max-width: 960px) {
    .content {
        background-image: none;
    }
}

@media screen and (max-width: 800px) {
    #q10e_other {
        max-width: 8rem;
    }
#q11_hybrid_explain {
        max-width: 8rem;
    }
}