/* 

@font-face{
    font-family:"MetaWeb";          
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/meta-pro/MetaWeb-Normal.woff);
    font-stretch: normal;
}
@font-face{
    font-family:"MetaWebItalic";    
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/meta-pro/MetaWeb-NormalIta.woff);
    font-stretch: normal;
}
@font-face{
    font-family:"MetaWebBold";      
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/meta-pro/MetaWeb-Bold.woff);
    font-stretch: normal;
}
@font-face{
    font-family:"MetaWebBoldItalic";
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/meta-pro/MetaWeb-BoldIta.woff);
    font-stretch: normal;
}
@font-face{
    font-family:"PlayfairDisplay";  
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/playfair-display/playfair-display-v13-latin-regular.woff);
    font-stretch: normal;
}
@font-face{
    font-family:"OpenSans";         
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/open-sans/open-sans_latin.woff2);
    font-stretch: normal;
}
@font-face{
    font-family:"TheSansPlain";     
    src:url(https://www.zew.de/typo3conf/ext/zew_sitepackage/Resources/Public/Frontend/Fonts/meta-pro/TheSans_TT5_.woff);
    font-stretch: normal;
}

*/


/* 
    from https://fonts.adobe.com/fonts/pt-serif

    <link rel="stylesheet" href="https://use.typekit.net/pzg6bnl.css">

    PT Serif Regular
    font-family: pt-serif, serif;

    PT Serif Italic
    font-family: pt-serif, serif; font-style: italic;

    PT Serif Bold
    font-family: pt-serif, serif; font-weight: 700;

    PT Serif Bold Italic
    font-family: pt-serif, serif; font-weight: 700; font-style: italic;

    PT Serif Caption Regular
    font-family: pt-serif-caption, serif;

    PT Serif Caption Italic
    font-family: pt-serif-caption, serif; font-style: italic;
*/


@import url("https://use.typekit.net/pzg6bnl.css");

:root {
	font-family: "PT Serif",-apple-system,BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-family: "PT Serif";
    font-size: 110%;
}

@media screen and (max-width: 800px) {

    :root {
        font-size: clamp(0.95rem, calc(0.8rem + ((1vw - .48rem) * 1.2)), 1.05rem);
        font-size: clamp(1.15rem, calc(0.8rem + ((1vw - .48rem) * 1.2)), 1.25rem);
    }

    nav a.title {
        /* margin-left: 0.7rem; */
        margin-left:  0.02rem;
        margin-right: 0.02rem;
        padding-left:  0.02rem;
        padding-right: 0.02rem;
        font-size:      70%;
        line-height:   140%;
        top:   0.2rem;
        left:  0.3rem;
    }

}



/* disable link in header - header invisible */
nav a.logo,
nav a.title
{
    pointer-events: none;
    cursor: default;
    /* opacity: 0.4; */
    /* visibility: hidden; */
    justify-self: center;
}

/* dont show as link */
nav a.title {
    color: var(--clr-fg);
}

/* text after logo - three sub components */
/* i.e. ZEW  */
nav a.title span.survey-org {
    display:   none;
}

/* i.e. Finanzmarkttest */
nav a.title span.survey-name {
}

/* i.e. 2021-02 */
nav a.title span.survey-wave-id {
	display:   none;
}



/* remove position correction for small default image */
nav a.logo img {
    top:  0.01rem;
    left: 0;
}

/* nav menu items  */
#quest-pages {
    display: none;
}
@media screen and (max-width: 800px) {
    #quest-pages {
        display: inline-block;
    }
}

#loginlogout {
    display: none;
}

/* progress bar  */
ol.progress {
    display: none;
}

/*
    content
*/


.go-quest-label {
    line-height: normal;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}



/*
==============================
    FIRST table CSS
==============================
*/



#t01 table, #t01 th, #t01 td {
    border-collapse: collapse;
}
#t01 table {
    border: none;
    /* width: 32rem; */
    max-width: 46rem;
}

/* td */
#t01 td {
    border: 1px solid grey;
    margin: 0;
    padding: 0.05rem 0.35rem;
    /* font-size: 0.7rem; */
    text-align: center;
    width: 3.6rem;
    vertical-align: middle;
}
/* first columns */
#t01 tr td:nth-child(1) {
    text-align: left;
}
/* last two columns */
#t01 tr td:nth-child(5),
#t01 tr td:nth-child(6)
{
    width: 1.1rem;
}


/* first row exceptions */
#t01 tr:first-child td {
    border-top: none;
    background-color: inherit;
    vertical-align: top;
    vertical-align: middle;
    height: 1.8rem;
}
#t01 tr:first-child td:nth-child(2)  {
    background-color: lightgrey;
}

#t01 tr:first-child td:nth-child(1)  {
    /* border-left: 2px solid red !important; */
    border-left: none;
}

/* coloring */
#t01 tr td {
    background-color: lightgrey;
}
/* coloring column-wise */
#t01 tr td:nth-child(3) {
    background-color: darkgrey;
}
#t01 tr td:nth-child(4) {
    background-color: grey;
}

/* column-wise vertical borders */
#t01 tr td:nth-child(2) {
    border-right: none;
}
#t01 tr td:nth-child(3) {
    border-left:  none;
    border-right: none;
}
#t01 tr td:nth-child(4) {
    border-left: none;
}



/* in between rows */
#t01 td.betw {
    border: none;
    background-color: inherit;
    height:       0.49rem;
    line-height:  0.49rem;
    max-height:   0.49rem;
    padding: 0;
    margin:  0;
}



#t01 img,
.q1-pretext-img,
dummy
 {
    display: inline-block;
    margin: 0 0.06rem;

    position: relative;

    height: 1.15rem;
    width:  0.8rem;


    vertical-align: bottom;
    top: -0.06rem;
    
}

.q1-pretext-img {
    top:     -0.2rem;
    margin: 0 0.16rem;
    vertical-align: bottom;
    zoom: 0.85;
}

.special-vertical-align-top {
    line-height: 90%;
    margin-top: 0.6rem;
    padding: 0;
    min-height: unset;
}


@media screen and (max-width: 800px) {

    #t01 td {
        padding: 0.25rem 0.1rem;
        /* font-size:     90%;
        padding-left:   0.05rem;
        padding-right:  0.01rem; */
    }

    #t01  tr:nth-child(3) td:nth-child(1),
    #t01  tr:nth-child(5) td:nth-child(1),
    #t01  tr:nth-child(7) td:nth-child(1),
    dummmy {
        font-size: 100%;
    }
}



/*
==============================
    SECOND table CSS
==============================
*/

@media screen and (max-width: 800px) {

    #t02 table, #t02 th, #t02 td {
        font-size: 85%;
    }

    .pg04-grp01-inp00-lbl,
    .pg04-grp01-inp01-lbl,
    .pg04-grp01-inp02-lbl,
    dummy{
        padding-left: 0.2rem;
        font-size: 85%;
    }

}

#t02 table, #t02 th, #t02 td {
    border-collapse: collapse;
}
#t02 table {
    border: none;
    max-width: 46rem;
}

/* td */
#t02 td {
    border: 1px solid grey;
    margin: 0;
    padding: 0.05rem 0.35rem;
    text-align: center;
    width: 3.6rem;
    vertical-align: middle;
    background-color: lightgrey;
}

/* first row exceptions */
#t02 tr:first-child td {
    height: 1rem;
    text-align: center;
    background-color: transparent;
    padding: 0.1rem 0;
}
/* first row - first col */
#t02 tr:first-child td:nth-child(1) {
    vertical-align: top;
    padding: 0.2rem 0.1rem;
}
/* second row is part of the header */
#t02 tr:nth-child(2) td:nth-child(1) {
    text-align: center;
    background-color: transparent;
    padding: 0.1rem 0;
}


/* last columns */
#t02 td:last-child,
#t02 tr:first-child td:last-child
{
    background-color: darkgray;
}

/* in between rows */
#t02 td.betw {
    border: none;
    background-color: inherit;
    height:       0.49rem;
    line-height:  0.49rem;
    max-height:   0.49rem;
    padding: 0;
    margin:  0;
}

/* first col */
#t02  tr:nth-child(1) td:nth-child(1),
dummy {
    text-align:  left;
}

/* first columns of non-header rows */
#t02  tr:nth-child(3) td:nth-child(1),
#t02  tr:nth-child(4) td:nth-child(1),
#t02  tr:nth-child(5) td:nth-child(1),
#t02  tr:nth-child(6) td:nth-child(1),
dummmy {
    text-align:  left;
    white-space: pre-wrap;
    padding-left: 0.4rem;
    font-family: monospace;
    font-size: 110%;
}

@media screen and (max-width: 800px) {
    #t02 td {
        font-size:     90%;
        padding-left:   0.05rem;
        padding-right:  0.01rem;
    }

    #t02  tr:nth-child(3) td:nth-child(1),
    #t02  tr:nth-child(4) td:nth-child(1),
    #t02  tr:nth-child(5) td:nth-child(1),
    #t02  tr:nth-child(6) td:nth-child(1),
    dummmy {
        font-size: 88%;
    }
}





/*
==============================
    THIRD table CSS
==============================
*/


@media screen and (max-width: 800px) {

    #t03  {
        font-size: 90%;
    }

}



#t03 .b1 {
    display: inline-block;
    width:    31.5%;

    margin:         0.7rem 0;
    margin-right:   1.2%;

    border:   1px solid grey;
}

#t03 .b1:nth-child(3) {
    margin-right:   0.0rem;
    /* border-right: 3px solid aquamarine; */
}



#t03 .b3 {
    white-space: pre-wrap;
    background-color: lightgray;


    font-family: monospace;
    font-size: 110%;
}


#t03 .b2,
#t03 .b3 {
    padding: 0.2rem;
}
#t03 .b2 {
    border-bottom: 1px solid grey;
}


@media screen and (max-width: 800px) {
    #t03 .b3 {
        font-weight:    normal;
        font-size:      99%;
        font-size:      86%;
        letter-spacing:	-0.1rem;
        padding: 0.2rem   0.01rem;
    }
}


/*
==============================
university logos
==============================
*/



.logo-imgs-in-content {
    position: relative;
    left: -5%;
    font-size: 0.1px;

    margin: 0 auto;
    padding: 1rem;

    width: 100%;
    width: 70%;

    text-align: center;

    background-color: var(--clr-sec);

}

@media screen and (max-width: 800px) {
    .logo-imgs-in-content {
        left: 0%;
        width: 100%;
    }
}

.logo-imgs-in-content img{
    display: inline-block;

    vertical-align: middle;
    margin: 0 2.5rem;

    opacity: 0.75;
    zoom: 0.4;


    padding: 0;
    margin:  0;
    opacity: 0.75;
    zoom: 0.4;
}

.logo-imgs-in-content img:nth-child(1),
.logo-imgs-in-content img:nth-child(3) {
    margin-right:  5%;
}

.logo-imgs-in-content img:nth-child(1),
.logo-imgs-in-content img:nth-child(2)
{
    margin-bottom: 5rem;
}

.logo-imgs-in-content img:nth-child(3),
.logo-imgs-in-content img:nth-child(4)
{
    margin-bottom: 5rem;
}


@media screen and (min-width: 800px) {
    #q15weiss_nicht {
        position: relative;
        left: -0.42rem;
    }
}


.pg02-grp11-inp12-ctl  span{
    text-orientation: mixed;
    /* text-orientation: upright; */
    writing-mode: vertical-rl;

    position: relative;
    line-height: 80%;
    left:       -0.22rem;
    font-size:   90%;
}
@media screen and (max-width: 800px) {
.pg02-grp11-inp12-ctl  span{
    left: 0.12rem;
    top:  0.6rem;
}
}

span:contains("contains was deprecated") {
    
}



/* appearing next button */

/* 

this transitions property changes triggered externally;
to make the button appear, we lack the starting stage 

button[type="submit"]
{
    transform:    scaleY(1.05) rotate(0deg) translate(0px, 2px);
    opacity:      1;
 
    transition:
        transform   2180ms ease-in-out,
        opacity     2180ms ease-in-out
} 
*/



@keyframes nameAppear {
      0%{
        transform:    scaleY(1.00) rotate(0deg) translate(0px, 0px);
        opacity:      0.00;
    }
     70%{
        opacity:      0.00;
    }
     80%{
        opacity:      0.05;
    }
    100%{
        transform:    scaleY(1.05) rotate(0deg) translate(0px, 0px);
        opacity:      1;
    }
}



{{if false}}
/* false */
/* 
    this is dynamically CSS injected depending on
    q.PostponeNavigationButtons > 0
*/

button[type="submit"], 
button[accesskey="n"] 
{
    animation:  6222ms ease-in-out 1ms 1 nameAppear;
}
{{end}}

/*  
{{  .SiteName}}
*/



.popup-invalid-anchor-grid-item {
    height: 0.02rem;
}

.popup-invalid-content-grid-item {

    
}

input[type="radio"][disabled="disabled"] {
    /* not stylable in Chrome */
}

input[type=checkbox]:focus,
input[type=radio]:focus         {

     box-shadow:
        0 0 0 0.090em var(--clr-sec-lgt2),
        0 0 0 0.120em lightgray;
  }
