label, .postlabel {
    text-align: left;
}

nav {
    grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
}

nav a.logo {
    position: relative;
    top: -0.15rem;
}


nav a.title {
    font-size: 130%;
}
nav a.title span.survey-wave-id {
    display: inline-block;
    font-size: 110%;
}



@media screen and (max-width: 800px) {
    nav {
        grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
    }

    ul.mnu-2nd-lvl {
        top: 6.2vh;
    }

    nav a.logo {
        justify-self: center;
        justify-self: start;
        padding-left: 0.7rem;
        padding-left: 0.3rem;

        position: relative;
        top: -0.15rem;
    }
    nav a.title {
        font-size: 95%;
    }
    nav a.title span.survey-wave-id {
        display: inline-block;
        font-size: 95%;
    }
}



