.survey-wave-id {
    display: none;
}
.survey-org {
    display: none;
}

nav .logo {
    display: none !important; 
}

ol.progress {
    display: none;
}


/* no back button */
button[value=prev] {
    display: none;
}


/* 
    animation of the three conditional questions
    blog.hubspot.com/website/css-fade-in 
*/
.fade-in-image { 
    animation:       animFadeIn 2s; 
    /* animation-delay: 0.4s;  */
}

@keyframes animFadeIn {
      0% { opacity: 0; }
    100% { opacity: 1; }
}
  

/* error bubble popup default */
.popup-invalid-content-grid-item {
    bottom:  0.09rem;
    min-width: unset;
}


@media screen and (max-width: 800px) {
    .popup-invalid-content-grid-item {
        min-width: unset;
    }
}

/* treatment neutral is pg25 */
.pg25-grp00-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.49rem;
}
.pg25-grp01-inp01 .popup-invalid-content-grid-item {
    bottom:  0.49rem;
}
.pg25-grp02      .popup-invalid-content-grid-item {
    bottom:  -1.68rem;
}




.pg26-grp00-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.48rem;
}
.pg26-grp01-inp01 .popup-invalid-content-grid-item {
    bottom:  0.9rem;
}
.pg26-grp02-inp01 .popup-invalid-content-grid-item {
    bottom:  -1.39rem;
}




/* button next of guided tour - used in knebGuidedTourImg.js */
@keyframes guidedTourNextButtonFadeIn {
    0% { opacity: 0; }
   80% { opacity: 0; }
  100% { opacity: 1; }
}


