.survey-wave-id {
    display: none;
}
.survey-org {
    display: none;
}

nav .logo {
    display: none !important; 
}

/* no navi buttons on experiment page */
.pg29-grp03    {
    display: none !important; 
}


