#loginlogout {
    display: none;
}


input,
select,
button,
textarea,
a.button {
    margin-right: 0.5rem;
}



.content.cpg00,
.content.cpg01,
.content.cpg02,
dummy
 {
    background-image: url(https://private-debt-survey.zew.de/img/ui/pds-bg-mirrored.png), url(https://private-debt-survey.zew.de/img/ui/pds-bg.png);
    background-image: url(https://localhost:8083/survey/img/ui/pds-bg-mirrored.png), url(https://localhost:8083/survey/img/ui/pds-bg.png);
    background-repeat: no-repeat;

    background-size: cover, cover;
    background-size: contain, contain;
    background-size: 16%, 18%;

    background-position: bottom left, bottom right;

    background-position-y: bottom, bottom;
    background-position-y: -34%, -15%;
    background-position-y: -11rem, -15.0rem;

    background-position-x: left, right;
    background-position-x: left, 103%;

    background-repeat: repeat-y;
}

@media screen and (max-width: 960px) {
    .content {
        background-image: none;
    }
}



.pg2206 input[type="text"] {
    margin-right: 0;
}

@media screen and (max-width: 800px) {

    input[name="risks_label"] {
        max-width: 6.1rem;
        margin-left: 0.3rem;
        margin-right: 0;
    }

    /* slider demo page */
    div.pg03 {
        max-width: 90%  !important;
        zoom: 0.75;
    }
}
