#loginlogout {
    display: none;
}

nav {
    grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
    /* background-color: rgb(66, 144, 66); */
    /* opacity: 0.8; */
}


@media screen and (max-width: 800px) {
    nav {
        grid-template-columns: 0.5fr 4fr 3.0em [col-menu] 2em 0.15fr;
    }
}

input,
select,
button,
textarea,
a.button {
    margin-right: 0.5rem;
}



.content.cpg00,
.content.cpg01,
.content.cpg02,
dummy
 {
    background-image: url(https://private-debt-survey.zew.de/img/ui/pds-bg-mirrored.png), url(https://private-debt-survey.zew.de/img/ui/pds-bg.png);
    background-image: url(https://localhost:8083/survey/img/ui/pds-bg-mirrored.png), url(https://localhost:8083/survey/img/ui/pds-bg.png);
    background-repeat: no-repeat;

    background-size: cover, cover;
    background-size: contain, contain;
    background-size: 16%, 18%;

    background-position: bottom left, bottom right;

    background-position-y: bottom, bottom;
    background-position-y: -34%, -15%;
    background-position-y: -11rem, -15.0rem;

    background-position-x: left, right;
    background-position-x: left, 103%;

    background-repeat: repeat-y;
}


.pg2206 input[type="text"] {
    margin-right: 0;
}

@media screen and (max-width: 800px) {

}


/* group background 

*/
.chapter3 > .grid-item-lvl-1 {
    background-color: aliceblue;
    background-color: var(--clr-sec-lgt1);
    background-color: var(--clr-sec-lgt2);
    background-color: transparent;
}


/* 
    these progress bar styles dont work, if a page is inserted or deleted
*/
li.pb01,
dummy {
    background-image: linear-gradient(to right, #ccc, #ccc, var(--clr-sec));
    background-image: linear-gradient(to right, #eee, #eee, #c8c8c8, #c8c8c8);
    /* background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), #aaa);} */
}

li.pb02,
li.pb04,
li.pb05,
li.pb06,
dummy {
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), var(--clr-sec));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), #dadaea,  var(--clr-sec-lgt2));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), #dadaea, #dadaea);
}

li.pb07,
li.pb19,
li.pb10,
li.pb11,
dummy {
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), var(--clr-sec));
    /* background-image: linear-gradient(to right, var(--clr-sec-lgt2), #eadada, var(--clr-sec)); */
}

li.pb12,
li.pb14,
li.pb15,
li.pb16,
dummy {
    /* background-color: red !important; */
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), var(--clr-sec));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), #daeaea, var(--clr-sec));
    background-image: linear-gradient(to right, var(--clr-sec-lgt2), var(--clr-sec-lgt2), #daeaea, #daeaea);
}

@media screen and (max-width: 960px) {
    .content {
        background-image: none;
    }

    .content.cpg00,
    .content.cpg01,
    .content.cpg02,
    dummy
    {
        background-image: none;
    }
}


@media screen and (max-width: 800px) {

    :root {
        --nav-height: 4.01vh;
    }

    input[type=number] {
        max-width: 4.1rem;
    }

    input[type=text] {
        margin-left: 0.6rem;
        max-width: 6.1rem;
    }

    input[type=radio]{
        transform: scale(1.6);
        margin-left:  0;
        margin-right: 0;
        padding-left:  0;
        padding-right: 0;
    }

    .input-wrapper-signature-3 {
        /* width: calc(100% - 3rem);
        margin-left: 1.5rem; */
        margin-left: 1.9rem;
        width: calc(100% - 3.6rem - 0.3rem );
    }

    label {
        /* width: calc(100% - 3rem) !important;
        margin-left: 1.5rem !important; */
    }


}

