label, .postlabel {
    text-align: left;
}

nav {
    grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
}

nav a.logo {
    position: relative;
    top: -0.15rem;
}


nav a.title {
    font-size: 130%;
}
nav a.title span.survey-wave-id {
    display: inline-block;
    font-size: 110%;
}



@media screen and (max-width: 800px) {
    nav {
        grid-template-columns: [col-img] 2fr [col-title] 8fr [col-menu] 1.3fr;
    }

    ul.mnu-2nd-lvl {
        top: 6.2vh;
    }

    nav a.logo {
        justify-self: center;
        justify-self: start;
        padding-left: 0.7rem;
        padding-left: 0.3rem;

        position: relative;
        top: -0.15rem;
    }
    nav a.title {
        font-size: 95%;
    }
    nav a.title span.survey-wave-id {
        display: inline-block;
        font-size: 95%;
    }
}




/* special 2022_01 */
.pg06 input[type="text"] {
    margin-right: 0;
}
@media screen and (max-width: 800px) {
    /* special 2022_01 */
    .pg06 input[type="text"] {
        max-width:   3.5rem;
        margin-left: 0.3rem;
        margin-right: 0;
    }
}


/* special 2023-03 */
table.table-special-202303 tr:first-child td {
    background-color: var(--clr-sec-lgt1);
}
table.table-special-202303 td:first-child {
    background-color: var(--clr-sec-lgt1);
}
